/* CSS Document */
body{padding:0px; margin:0px; background:url(images/mainbg.gif) 0 0 repeat-x #fff; color:#5E5E5E; font:13px/18px Arial, Helvetica, sans-serif;}
div, p, ul, h1, h2, h3, h4, img{padding:0px; margin:0px;}
ul{list-style-type:none;}

/*----TOP PANEL----*/
#topPan{width:778px; height:158px; position:relative; margin:0 auto; background:url(images/topPan-bg.gif) 0 0 repeat-x #15AEFD; color:#fff; padding:0px;}
#topPan img.logo{position:absolute; top:33px; left:43px;}
#topPan h1{font-size:16px; padding:70px 0 0 43px;}

/*----TOP MENU PANEL----*/
#topMenuPan{width:683px; height:16px; position:absolute; bottom:9px; left:48px;}

/*----TOP MENU LEFT PANEL----*/
#topMenuLeftPan{width:69px; height:16px; float:left; background:url(images/menu-leftbg.gif) 0 0 no-repeat;}
/*----/TOP MENU LEFT PANEL----*/

/*----TOP MENU MIDDLE PANEL----*/
#topMenuMiddlePan{width:544px; height:16px; float:left;}
#topMenuMiddlePan ul{width:544px; height:16px;}
#topMenuMiddlePan ul li{width:67px; height:16px; border-right:1px solid #E5E5E5; float:left;}
#topMenuMiddlePan ul li a{width:67px; height:16px; display:block; background:#fff; color:#4A4A4A; font:10px/16px "Trebuchet MS",Arial, Helvetica, sans-serif; text-decoration:none; font-weight:bold; text-align:center; text-transform:uppercase;}
#topMenuMiddlePan ul li a:hover{background:#fff; color:#0574AF; text-decoration:none;}
#topMenuMiddlePan ul li.home{background:#fff; color:#0574AF; text-decoration:none; font:10px/16px "Trebuchet MS",Arial, Helvetica, sans-serif; font-weight:bold; text-align:center; text-transform:uppercase;}
#topMenuMiddlePan ul li.contact{width:67px; border-right:1px solid #fff;}
#topMenuMiddlePan ul li.contact a{width:67px; height:16px; display:block; background:#fff; color:#4A4A4A; font:10px/16px "Trebuchet MS",Arial, Helvetica, sans-serif; text-decoration:none; font-weight:bold; text-align:center; text-transform:uppercase;}
#topMenuMiddlePan ul li.contact a:hover{background:#fff; color:#0574AF; text-decoration:none;}
/*----/TOP MENU MIDDLE PANEL----*/

/*----TOP MENU RIGHT PANEL----*/
#topMenuRightPan{width:70px; height:16px; float:left; background:url(images/menu-rightbg.gif) 0 0 no-repeat;}
/*----/TOP MENU RIGHT PANEL----*/

/*----/TOP PANEL----*/

/*----BODY PANEL----*/
#bodyPan{width:683px; position:relative; margin:0 auto; padding:25px 0 0;}

/*----BODY COMPLET PANEL----*/
#bodyCompletPan{width:645px; float:left; padding:12px 36px 0 0;}

#bodyCompletPan h2{width:645px; height:30px; background:url(images/border1.gif) 100% 70% no-repeat #fff; color:#00111A; font:28px/28px Georgia, "Times New Roman", Times, serif;}
#bodyCompletPan h2 span{background:#fff; color:#046598;}

#bodyCompletPan h3{width:645px; height:30px; background:url(images/border2.gif) 100% 70% no-repeat #fff; color:#00111A; font:28px/28px Georgia, "Times New Roman", Times, serif;}
#bodyCompletPan h3 span{background:#fff; color:#046598;}

#bodyCompletPan h4{width:645px; height:30px; color:#00111A; font:20px/28px Georgia, "Times New Roman", Times, serif;}
#bodyCompletPan h4 span{background:#fff; color:#046598;}

#bodyCompletPan p{padding:7px 0 0;}
#bodyCompletPan p span{background:#fff; color:#046598; font-weight:bold;}

.bodyCompletPan{width:645px; float:left; padding:12px 36px 0 0;}

.bodyCompletPan h2{width:645px; height:30px; background:url(images/border1.gif) 100% 70% no-repeat #fff; color:#00111A; font:28px/28px Georgia, "Times New Roman", Times, serif;}
.bodyCompletPan h2 span{background:#fff; color:#046598;}

.bodyCompletPan h3{width:645px; height:30px; background:url(images/border2.gif) 100% 70% no-repeat #fff; color:#00111A; font:28px/28px Georgia, "Times New Roman", Times, serif;}
.bodyCompletPan h3 span{background:#fff; color:#046598;}

.bodyCompletPan h4{width:645px; height:30px; color:#00111A; font:20px/28px Georgia, "Times New Roman", Times, serif;}
.bodyCompletPan h4 span{background:#fff; color:#046598;}

.bodyCompletPan p{padding:7px 0 0;}
.bodyCompletPan p span{background:#fff; color:#046598; font-weight:bold;}
/*----/BODY COMPLET PANEL----*/

/*----BODY LEFT PANEL----*/
#bodyLeftPan{width:410px; float:left; padding:12px 36px 0 0;}
#bodyLeftPan h2{width:410px; height:30px; background:url(images/border1.gif) 100% 70% no-repeat #fff; color:#00111A; font:28px/28px Georgia, "Times New Roman", Times, serif;}
#bodyLeftPan h2 span{background:#fff; color:#046598;}

#bodyLeftPan h3{width:410px; height:30px; background:url(images/border2.gif) 100% 70% no-repeat #fff; color:#00111A; font:28px/28px Georgia, "Times New Roman", Times, serif;}
#bodyLeftPan h3 span{background:#fff; color:#046598;}

#bodyLeftPan p{padding:7px 0 0;}
#bodyLeftPan p span{background:#fff; color:#046598; font-weight:bold;}
/*----/BODY LEFT PANEL----*/

/*----BODY RIGHT PANEL----*/
#bodyRightPan{width:235px; float:left; border:1px solid #DADADA; background:#F3F3F3; color:#1A1A1A; padding:0 0 28px;}

#bodyRightPan h5{width:195px; height:35px; display:block; border:1px solid #DADADA; background:#fff; color:#00111A; font:24px/34px Georgia, "Times New Roman", Times, serif; margin:6px 8px 16px; padding:0 0 0 20px;}
#bodyRightPan h5 span{background:#fff; color:#046598;}

#bodyRightPan ul{width:180px; margin:0 0 17px 29px;}
#bodyRightPan ul li{width:180px; height:18px;}

#bodyRightPan ul li a{width:160px; height:18px; display:block; background:url(images/button.gif) 0 6px no-repeat #F3F3F3; color:#1A1A1A; text-decoration:none; padding:0 0 0 20px;}
#bodyRightPan ul li a:hover{background:url(images/button-hover.gif) 0 6px no-repeat #F3F3F3; color:#797878; text-decoration:none;}
/*----/BODY RIGHT PANEL----*/

/*----/BODY PANEL----*/

/*----FOOTER PANEL----*/
#footermainPan{height:85px; background:url(images/footerbg.gif) 0 0 repeat-x #fff; color:#010101; clear:both; padding:72px 0 0;}

#footerPan{width:683px; position:relative; margin:0 auto; font-family:"Trebuchet MS",Arial, Helvetica, sans-serif}

#footerPan ul{width:624px; position:relative; margin:0 auto;}
#footerPan li{float:left; }
#footerPan ul li a{padding:0 10px 0; color:#010101; background:#F3F3F3; text-decoration:none;}
#footerPan ul li a:hover{text-decoration:underline;}

#footerPan p.copyright{width:204px; background:#F3F3F3; color:#04496D; position:absolute; top:23px; left:40px; font-size:12px;}


#footerPanhtml{width:65px; height:13px; display:block; position:absolute; top:26px; left:260px;}
#footerPanhtml a{width:53px; height:11px; display:block; background:url(images/blue-arrow.gif) 85% 60% no-repeat #fff; color:#4F4F4F; border:1px solid #DEDEDE; line-height:11px; font-size:11px; font-weight:bold; text-decoration:none; padding:1px 0 0 10px;}
#footerPanhtml a:hover{background:url(images/gray-arrow.gif) 85% 60% no-repeat #fff; color:#4F4F4F;}

#footerPancss{width:50px; height:13px; display:block; position:absolute; top:26px; left:320px;}
#footerPancss a{width:40px; height:11px; display:block; background:url(images/blue-arrow.gif) 35px 3px no-repeat #fff; color:#4F4F4F; border:1px solid #DEDEDE; line-height:11px; font-size:11px; font-weight:bold; text-decoration:none; padding:1px 0 0 10px; text-transform:uppercase;}
#footerPancss a:hover{background:url(images/gray-arrow.gif) 35px 3px no-repeat #fff; color:#4F4F4F;}
/*----/FOOTER PANEL----*/

/*----OTROS ESTILOS----*/
.divConImagen img {float: left; padding-top: 12px; padding-right: 12px; padding-bottom: 12px;}
.noMostrar {display: none;}
.imagenCursor {cursor: pointer;}
/*----/OTROS ESTILOS----*/